!!!
%head
  %title CONFIRM PAGE
  %link(rel="stylesheet" href="css/styles.css")
%body
  %h1 confirm page
  %form{:action => '/complete', :method => 'post'}
    %fieldset
      %p
        %label 名前: 
      %p
        = @sender_name
      %p  
        %label 年代:
      %p
        =@age
      %p  
        %label 自由記述欄:
      %p
        =@free_form
      %p  
        %input{:name => "btn_value", :type => "submit", :value => "back"}
        %input{:name => "btn_value", :type => "submit", :value => "submit"}
