!!!
%head
  %title INPUT PAGE
  %link(rel="stylesheet" href="css/styles.css")
%body
  %h1 input page
  %form{:action => '/confirm', :method => 'post'}
    %p
      %label 名前:
    %p
      %input{:name => "sender_name", :type => "text"}
    %p  
      %label 年代:
    %p 
      %select{:name => "age", :size => "1"}
        %option{:value => ""} --
        %option{:value => "10代"} 10代
        %option{:value => "20代"} 20代
        %option{:value => "30代"} 30代
        %option{:value => "40代"} 40代
        %option{:value => "50代"} 50代
        %option{:value => "60代以上"} 60代以上
    %p  
      %label 自由記述欄:
    %p  
      %textarea{:name => "free_form", :type => "text"}
    %p  
      %input{:class => "btn", :type => "submit", :value => "confirm"}

